extends ./partials/_layout.jade
  
block append content        
    .b-frontSlider
      .b-frontSlider__item__wrap
        .b-frontSlider__item(style='background-image: url(img/slider_bg.png);')
          .fl_container
            .b-frontSlider__item__header От скидки на продукт до построения бизнеса через интернет
            .b-frontSlider__item__btn_block
              a(href="").btn.btn--video 
                +icon('button_play') 
                |Видеопрезентация
              a(href="").btn.btn--green Быстрый старт 
      .b-frontSlider__item__wrap
        .b-frontSlider__item(style='background-image: url(img/slider_bg.png);')
          .fl_container
            .b-frontSlider__item__header От скидки на продукт до построения бизнеса
            .b-frontSlider__item__btn_block
              a(href="").btn.btn--video 
                +icon('button_play') 
                | Видеопрезентация
              a(href="").btn.btn--green Быстрый старт 
    .fl_container
      .b-frontSlider__dots  
      
  
    .fl_container
      .b-frontBanners
        .b-frontBanners__item(style='background-image:url(img/content/front_top_banner1.png)')
          .b-frontBanners__item__header Покупай для себя
          a(href="").b-frontBanners__item__link.btn.btn--small.btn--small--pink Начни покупать
        .b-frontBanners__item(style='background-image:url(img/content/front_top_banner2.png)')
          .b-frontBanners__item__header Зарабатывай на продажах
          a(href="").b-frontBanners__item__link.btn.btn--small.btn--small--green Начни покупать
        .b-frontBanners__item(style='background-image:url(img/content/front_top_banner3.png)')
          .b-frontBanners__item__header Зарабатывай на продажах
          a(href="").b-frontBanners__item__link.btn.btn--small.btn--small--blue Начни покупать
    
    .block.b-fbAbout
      .fl_container
        .cf
        .block__header С Faberlic вы сможете
        .b-fbAbout__items.row
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__img
              //- img(src="img/content/can_icon_1.png", alt="")
              +icon('can_icon_1')
            .b-fbAbout__item__name Экономить до 70% #[br] на продукции    
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__img
              //- img(src="img/content/can_icon_2.png", alt="")
              +icon('can_icon_2')
            .b-fbAbout__item__name Получать подарки и бонусы #[br] 18 раз в год   
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__img
              //- img(src="img/content/can_icon_3.png", alt="")
              +icon('can_icon_3')
            .b-fbAbout__item__name Зарабатывать на любимые #[br] продукты  
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__img
              //- img(src="img/content/can_icon_4.png", alt="")
              +icon('can_icon_4')
            .b-fbAbout__item__name Заняться интересным и #[br] прибыльным бизнесом 
      .b_reg
        .fl_container
          .b_reg__text 
            +icon('clock')
            | Регистрация в компании БЕСПЛАТНАЯ, не требует предоставления Ваших паспортных данных и ни к чему не обязывает!
          .b_reg__btn
            a(href="").btn.btn--pink Зарегистрироваться
      
    .block.b_frontDigits
      .fl_container 
        .block__header Немного цифр
        .b-fbAbout__items.row
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__text_big 19 лет
            .b-fbAbout__item__name динамичного развития и успешных продаж   
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__text_big > 28
            .b-fbAbout__item__name представительств в странах по всему миру   
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__text_big 5 000
            .b-fbAbout__item__name качество и уникальность которого подтверждается сертификатами и патентами 
          .b-fbAbout__item.col-md-3.col-xs-12.col-sm-6
            .b-fbAbout__item__text_big ТОП 100
            .b-fbAbout__item__name входит в мировой рейтинг парфюмерно косметических компаний мира     
    
    .b_regBig
      .fl_container
        .b_regBig__header Регистрируйся #[br] становись консультантом и получай скидку от 20%
        div.btn_block: a(href="").btn.btn--pink Зарегистрироваться
          
    include ./blocks/section_success_story.jade
    
    include ./blocks/articles.jade
  
    .block.b-front_about
      .fl_container 
        .block__header.block__header--link О Faberlic    
        div.tac: a(href="").block__header__link Читать полностью           
        .b-front_about__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах.
        .b-front_about__btn_block
          a(href="").btn.btn--simple_link.btn--simple_link_arrow_down Читать дальше
          a(href="").btn.btn--pink_border.btn--pink_arrow Каталог продукции
          
    .block.b-serts
      .fl_container 
        .block__header.block__header--link Сертификаты Faberlic   
        .b-serts__list.flex.flex-content-around.flex_items--center.flex_wrap--wrap
          .b-serts__list__item
            img(src="img/content/sert_1.png", alt="")
          .b-serts__list__item
            img(src="img/content/sert_2.png", alt="")
          .b-serts__list__item
            img(src="img/content/sert_3.png", alt="")
          .b-serts__list__item
            img(src="img/content/sert_4.png", alt="")
          .b-serts__list__item
            img(src="img/content/sert_5.png", alt="")     
block append content
